*{
    font: regular "Source Code Pro";
}
QToolBar {
    background-color: rgb(27, 26, 26);
}
QTextEdit {
    background-color: rgb(27, 26, 26);
    color: rgb(255, 255, 255);
}
QGroupBox{
    background-color: rgb(27, 26, 26);
};
